.container-content {
    width: 100%;
    background-color: #3179bd38;
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin-right: 2%;
    margin-bottom: 3%;
}

.container-content img {
    width: 3.5%;
    height: 5%;
    margin-right: 2%;
    
}

.container-content h1 {
    color: #000;
    font-weight: 600;
}
